<div class="form-group nested-fields">
    <div class="input-group mb-1">
        <div class="input-group-prepend">
            <%= f.label :name, "Nivel educativo", class: "input-group-text" %>
        </div>
        <%= f.select(:name, Candidate::EDUCATION_LEVEL, {} ,{class: 'form-control text-center'}) %>
        <%= link_to_remove_association 'Eliminar nivel educativo', f, class: 'btn btn-danger' %>
    </div>
</div>