<div class="form-group nested-fields">
    <div class="input-group mb-1">
        <div class="input-group-prepend">
          <%= f.label :name, "Áreas de desempeño", class: "input-group-text" %>
        </div>
        <%= f.select(:name, Candidate::PERFORMANCE_AREAS, {} ,{class: 'form-control text-center'}) %>
        <%= link_to_remove_association 'Eliminar área de desempeño', f, class: 'btn btn-danger' %>
    </div>
</div>