<div class="form-group nested-fields">
    <div class="input-group mb-1">
        <div class="input-group-prepend">
            <%= f.label :name, "Skills", class: "input-group-text" %>
        </div>
        <%= f.select(:name, Candidate::SKILLS, {} ,{class: 'form-control text-center'}) %>
        <%= link_to_remove_association 'Eliminar skill', f, class: 'btn btn-danger' %>
    </div>
</div>