
<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="text-white">Editar candidato</h1>

      <div class="card text-white bg-dark m-2 p-2">
        <%= render 'form', candidate: @candidate %>
      </div>

      <div class="btn-group">
        <%= link_to 'Ver', @candidate, class: "btn btn-success" %>
        <%= link_to 'Regresar', candidates_path, class: "btn btn-info"%>
      </div>

    </div>
  </div>
</div>
